.navbar {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #023047;
    border-radius: 50px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar ul {
    list-style-type: none;
    padding: 0;    
    margin: 0;
    display: flex;
}

.navbar li {
    display: block;
}

.navbar a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 8px 15px;
    transition: background-color 0.3s;
    border-radius: 50px;
}

.navbar a.active{
    background-color: #219ebc;
}

.navbar a:hover {
    background-color: #219ebc;
}